@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
  }

  h1 {
    font-size: 58px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 1.15px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .mobile-nav {
    @apply fixed w-full z-50 top-[106px] left-0 bg-white rounded-b-xl flex flex-col justify-between items-center max-w-[1150px] space-y-20 h-mobilenav pt-10 pb-20 sm:h-[fit-content] overflow-auto sm:flex-row sm:space-y-0 sm:space-x-5 sm:px-5 lg:hidden sm:pt-16 sm:pb-40;
  }

  .title {
    font-size: 58px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .overline {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .sub-title {
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
